@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;

}

body {
    background-image: url(Media/black-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh; 
    align-items: center;
}

.container{
    max-width: 1100px;
    margin: 0px auto;

}

.menu{
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;

}

.menu .logo{
    font-weight: 700;
    font-size: 25px;
    color: #3adeff;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #ffffff;
    display: block;
}

.menu .navbar ul li a:hover {
    color: #0eaef3;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    display: flex;
}

.content {
    padding: 150px 150px 0px 0px;
}

.content h1 {
    color: #3adeff;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 55px;
}

.content p {
    margin-top: 25px;
    color: #aab1ff;
    text-transform: uppercase;
    font-size: 35px;
    line-height: 40px;
}

.content h2{
	color: #ffffff;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 55px;
}

.btn-1 {
    display: inline-block;
    background-color: rgba(170, 177, 255, 0.3);
    border: 1px solid #aab1ff;
    margin: 35px 10px 0px 0px;
    padding: 15px 25px;
    color: #ffffff;
    border-radius: 25px;
}

.btn-1:hover {
    background-color: #aab1ff;
}

.service1 h3{
    color: #ffffff;
    font-size: 30px;
}

.service2 h3{
    color: #ffffff;
    font-size: 30px;
}

.service2 p{
    color: #ffffff;
    font-size: 20px;
}

.header-content2 {
    display: flex;
}

.content2 {
    padding: 150px 150px 0px 0px;
}

.content2 h1 {
    color: #3adeff;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 55px;
}

.content2 p {
    margin-top: 25px;
    color: #aab1ff;
    text-transform: uppercase;
    font-size: 35px;
    line-height: 40px;
}

.content2 h2{
	color: #ffffff;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 55px;
    
}
